{# template objet OETileGroup #}
{% set objClass = "tile-group " ~ objet.large ~ " " %}
{% if objet.classes is not empty %} {% set objClass = objClass ~ " " ~ objet.classes %} {% endif %}

<div id="{{ objet.id }}" data-role="tile" data-objet="{{ objet.object }}" data-type="{{ objet.type }}"
    class="{{ objClass }}"
    {% if objet.event is not empty %}
        {% for evt, callback in objet.event %}
            {% set allEvt = allEvt ~ evt ~ ", " %}
            data-{{ evt }}-class ="{{ callback.class }}"
            data-{{ evt }}-method ="{{ callback.method }}"
            data-{{ evt }}-stopevt ="{{ callback.stopEvent }}"
        {% endfor %}
        data-evt="{{ allEvt | slice(0, allEvt|length - 2) }}"
    {% endif %}
    {% if objet.infoBulle.title is not empty %}
        {%  set infoBulle = objet.infoBulle %}
        {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
    {% endif %}
>
    <style>
        #{{ objet.id }} .tile-container { position: relative; }

        {% if objet.style is not empty %}
        #{{ objet.id }} {
        {{ objet.style | raw }}
        }
        {% endif %}

        {% if objet.cssCode is not empty %}
        {% for selector, code in objet.cssCode %}
        {{ selector | raw }} {
        {{  code | raw }}
        }
        {% endfor %}
        {% endif %}
    </style>

    <span class="tile-group-title">{{ objet.title | raw }}</span>
    <div class="tile-container">
        {{ content | raw }}
    </div>

    {% if objet.event is defined and objet.event is not empty %}
        <script id="{{ objet.id }}Script" type="text/javascript">
            $('document').ready(function (e) {
                {% if objet.event is not empty %}
                {% set events = objet.event %}
                {% include 'graphic-object-templating/oobject/event.js.twig' with events %}
                {% endif %}
            });
        </script>
    {% endif %}

    {% if infoBulle.title is not empty %}
        {%  set type = infoBulle.type %}
        {%  set id = objet.id %}
        {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
    {% endif %}
</div>