{# template de l'objet OEDInput #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT) %}
{% set labelClass = "" %}
{% set inputClass = "" %}

{% if objet.type != "hidden" and objet.errMessage is defined and objet.errMessage is not empty %}
    {% set objClass   = objClass ~ " has-error " %}
    {% set labelClass = "control-label " %}
    {% set inputClass = " form-control " %}
{% endif %}
{% set labelWidth = "" %}
{% set inputWidth = "" %}
{% set labelWidthBT = gotBootstrap(objet.labelWidthBT) %}
{% set inputWidthBT = gotBootstrap(objet.inputWidthBT) %}

{% set labelClass = labelClass ~ labelWidthBT %}
{% set inputClass = inputClass ~ inputWidthBT %}
{% if (objet.size is not empty) %} {% set inputClass = "" %} {% endif %}
{% if objet.classes is not empty %}
    {% set objClass = objClass ~ " " ~ objet.classes %}
{% endif %}

{% set helperType = 'clear' %}
{% set helperIcon = 'fa fa-times' %}
{% if objet.type == 'password'  %}{% set helperType = 'reveal' %}{% set helperIcon = 'fa fa-eye' %}{% endif %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
        {% if objet.event is not empty %}
            {% for evt, callback in objet.event %}
                {% set allEvt = allEvt ~ evt ~ ", " %}
                data-{{ evt }}-class ="{{ callback.class }}"
                data-{{ evt }}-method ="{{ callback.method }}"
                data-{{ evt }}-stopevt ="{{ callback.stopEvent }}"
            {% endfor %}
            data-evt="{{ allEvt | slice(0, allEvt|length - 2) }}"
        {% endif %}
        {% if objet.metaDatas is not empty %}
            {% for key, value in objet.metaData %}
                data-{{ key }} = "{{ value }}"
            {% endfor %}
        {% endif %}
>

    <style>
        #{{ objet.id }} {
            display: {{ objet.display }};
        {% if objet.style is not empty %}
        {{ objet.style | raw }}
        {% endif %}
        }

        {% if objet.infoBulle.title is not empty and objet.infoBulle.css is not empty and objet.erreur.libel is empty %}
        {% set id = objet.id ~ " input" %}
        {% set type = objet.infoBulle.type %}
        {% set css = objet.infoBulle.css %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}
        {% elseif objet.erreur.libel is not empty and objet.type != "hidden" %}
        {% set erreur = objet.erreur %}
        {% set id = objet.id ~ " input" %}
        {% set type = 'tooltip' %}
        {% set css = "background-color: #" ~ erreur.backgroundColor ~ ";color: #" ~ erreur.color ~ ';' %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}

        #{{ id }} {
            border:  solid 2px #{{ erreur.color }};
        }
        {% endif %}

        {% if objet.wide > 0 %}
        #{{ objet.id }} input {
            width: {{ objet.wide }};
        }
        {% endif %}

        #{{ objet.id }} .boutton.oedinput {
            {% if objet.type != 'password'  %}
            font-size: 1.3em;height: 1.35em;
            {% else %}
            font-size: 1em;
            {% endif %}
            position: absolute;
            right: 15px;
            {% if objet.labelWidthBT is empty %}
            top: 2.8rem;
            {% endif %}
        }

        {% if objet.type != 'password'  %}
        #{{ objet.id }} .boutton.oedinput span{
            position: relative;
            top: -0.2em ;
        }
        {% endif %}

        {% if objet.labelWidthBT is empty %}
        #{{ objet.id }} input {
            width: 100%;
        }
        {% endif %}

    </style>

    {%  if objet.label is not empty or objet.icon is not empty %}
        <label for="{{ objet.id }}_{{ objet.type }}"
                {% if labelClass is not empty %} class="{{ labelClass }}" {% endif %}
        >
            {% if objet.icon is defined %}
                <i class="{{ objet.icon }}"></i>
            {% endif %}
            {{ objet.label }}
        </label>
    {% endif %}
    <input id="{{ objet.id }}_{{ objet.type }}" name="{{ objet.name }}" type="{{ objet.type }}"
            {% if objet.value is not empty %} value="{{ objet.value }}" {% endif %}
            {% if objet.size is not empty %} size="{{ objet.size }}" {% endif %}
            {% if objet.maxlength is not empty %} maxlength="{{ objet.maxlength }}" {% endif %}
            {% if objet.state == false %} disabled {% endif %}
            {% if inputClass is not empty %} class="{{ inputClass }}" {% endif %}
            {% if objet.placeholder is not empty %} placeholder="{{ objet.placeholder }}" {% endif %}
            {% if objet.infoBulle is not empty or (objet.erreur.libel is empty) %}
                {%  set infoBulle = objet.infoBulle %}
            {% endif %}
            {% if objet.type != "hidden" and objet.erreur.libel is not empty %}
                {% set infoBulle = objet.infoBulle %}
                {% set erreur = objet.erreur %}
                {% set infoBulle =
                infoBulle | update({'title': erreur.libel, 'content': '', 'type': 'tooltip'}) %}
            {% endif %}
            {% if infoBulle is defined and infoBulle.tltle is not empty %}
                {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
            {% endif %}
			{% if objet.autoFocus%}autofocus{% endif %}
    />
    <button class="boutton helper-button oedinput {{ helperType }}" tabindex="-1" type="button"><span class="{{ helperIcon }}"></span></button>
    {% if objet.type != "hidden" %}
        <div class="control-group error">{{ objet.errMessage }}</div>
    {% endif %}

    {% if objet.type != "hidden" %}
        {% if objet.event is defined and objet.event is not empty %}
            <script id="{{ objet.id }}Script" type="text/javascript">
                $('document').ready(
                        {% if objet.event is not empty %}
                        {% set events = objet.event %}
                        {% include 'graphic-object-templating/oobject/event.js.twig' with events %}
                        {% endif %}
                );
            </script>
        {% endif %}
        <script>
            $(document).ready( function() {
                $('#{{ objet.id }} .helper-button.clear.oedinput').on('click', function(){
                    $(this).parent().find('input').val('').trigger('change').focus();
                });
                $('#{{ objet.id }} .helper-button.reveal.oedinput').on('mousedown', function(){$(this).parent().find('input').attr('type', 'text');})
                    .on('mouseup', function(){$(this).parent().find('input').attr('type', 'password').focus();});

                $('#{{ objet.id }}').on('change', function(e){
                    var {{ objet.id }} = new oedinput($('#{{ objet.id }}'));
                    console.log({{ objet.id }}.getData(''));
                });
				
				{% if objet.autoFocus%}
				{% include "zf3-graphic-object-templating/oobjects/autoFocus.js.twig" with {id : ( objet.id ~ "_" ~ objet.type )} %}
				{% endif %}
            });
        </script>
    {% endif %}

    {% if objet.infoBulle.title is not empty and objet.infoBulle.css is not empty and objet.erreur.libel is empty %}
        {%  set type = objet.infoBulle.type %}
        {%  set id = objet.id ~ "_" ~ objet.type %}
        {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
    {% elseif objet.erreur.libel is not empty and objet.type != "hidden" %}
        {%  set type = objet.infoBulle.type %}
        {%  set id = objet.id ~ "_" ~ objet.type %}
        {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
    {% endif %}

</div>
